
.image-wrapper .home-image{
    width:50vw;
    height:90vh;
    border: 1px solid red;
}
@media(max-width:600px){
    .home-image{
        width:84vw;
        height:84vw;
    }
    .image-wrapper{
        width:100vw;
        height:90vw;
        position:relative;
        top:15vw;
        border: 1px solid green;
        padding-left: 8vw;
        padding-right: 8vw;
        padding-bottom: 8vw;

        
    }
}
