.fade-out{
    animation: disappear 2s ease;
  }
  @keyframes disappear {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }

.fade-in{
  animation: appear 2s ease;
}
@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


  
  
.container {
    padding:0%;
    margin: 0%;
    display: flex;
    border: 1px solid yellowgreen;
    width:100vw;
}
.nav-container {
  padding:0%;
  margin: 0%;
  display: flex;
  border: 1px solid yellowgreen;
  width:100vw;
  height:90vh;
}
.right {
    flex-grow: 1;
}
.initial-render{
  display:none;
}


@media(max-width:600px){
    .container{
        flex-direction: column;
        height:200vh   
    }
    .nav-container{
      max-width:100vw;
    }
    .home {
      height: 200vh;
     
    }
}

