li {
    display:block;
    align-content: space-around;
    padding-bottom: 2vh;
    
}
.navlist-wrapper{
  
    display:flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    
}
a{
    text-decoration-line: none;
    text-decoration-color: black;
}