.initial-state{
    display:none
}
.rotat {
    animation:reverse;
    transform: rotate(180deg);
    transition: transform 0.3s ;
}
.icons {
    
    float:inline-end;
    display:relative;
    left: 70px;
    
}
.title {
    display:inline-block;
    
}
.title-wrapper {
    margin:5vw;
    position:relative;
    top:5vw;
}
.project-description-wrapper{
    display:flex
}

@media(max-width:600px){
   .title-wrapper{
    height:120vh;
    border: 1px solid red;
   }
   .project-description-wrapper{
    flex-direction: column;
    align-items: center;
   }
   .a {
    position: relative;
    height: 55vh;
    width:90vw;
    bottom:3vh;
   }
   .b{
 

    width:70vw;
    padding-left:10vw;
   
    border: 1px solid green;
    margin:0vw;
  
    
  }
}
.a {
    position: relative;
    border: 1px solid blue;
   
    text-align: center;
   
    
}
.b{
    margin-left:5vw;
}
.stack-desc{
    word-wrap: break-word;
}

