a{
  margin:1vw;
}
.link-wrapper{
  
  display:flex;
  justify-content: flex-start;
  padding-left:40px;
  align-items: center;
  width:50vw;
  height:70px;
 
}
@media(max-width:600px){
  .link-wrapper{
    width:auto;
    justify-content: center;
    padding-left: 0px;
  }
}