.right-wrapper{
  display:flex;
  align-items: center;
  flex-direction: column;
  align-content: space-around;
  background-color: aqua;
  height: 90vh;
}

.nav-button{
  margin: 7vh;
}

@media(max-width:600px){
.right-wrapper{
  height:60vw;
  top:15vw;
  position:relative
}
}

.fade-out{
  opacity:0;
  width:0;
  height:0;
  animation: disappear 1s ease;

}
@keyframes disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@media(max-width:600px){
  .nav-button{
    position:relative;
    right:40vw;
    bottom:108vw;
  }
  
}